.subtemas {
  margin-top: 3em;
  display: block;
  text-align: center;
  justify-content: center;
  &__img {
    align-items: center;
    margin: 1em 0;
    max-height: 30em;
    & img {
      height: 20em;
      width: 20em !important;
      object-fit: cover;
    }
    
  }
  &__description {
    text-align: center;
    &__text {
        margin: 2em;
        text-align: justify;
      }
  }
}
