.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__block {
    display: block;
    margin: 2em;
    color: #fff;
  }

  .menu__list{
    padding: 0 1em;
    line-height: 2.25em;
  }
}
