nav .menu {
  padding: 1em;
}

h1 {
  margin: 30px;
}

.logo {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.__header {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  & h3 {
    margin: 0 1em;
  }
}

.__filter {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.cardapio {
  position: relative;
  display: block;
  &__filter {
    display: none;
    justify-content: space-around;
    align-items: center;
    &--ativo {
      display: flex;
    }
  }
}
